<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Web Testing Suite">
    <parameter name="browser" value="chrome"/>

    <test name="Splash Page Tests">
        <classes>
            <class name="com.rankinggame.testcases.SplashPageTest"/>
        </classes>
    </test>

        <test name="Input Page Tests">
        <classes>
            <class name="com.rankinggame.testcases.InputPageTest"/>
        </classes>
    </test>
 
    </suite>